<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>Alice Word Counter</title>
</head>
<body>
    <div class= "container">
        <div class="row">
            <h1>Count Words, Count Letters, Have Fun</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                form and button
            </div>
            <div class="col-md-8">

            </div>
        </div>
        <div class="row">Letter Count Below</div>
        <div class="row">
            <div class="col-md-1">
                a
            </div>
            <div class="col-md-1">
                b
            </div>
            <div class="col-md-1">
                c
            </div>
            <div class="col-md-1">
                d
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>

</body>
</html>